.section-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.section-subheader {
    font-size: 1.3vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-details {
    font-size: 1vw;
    text-align: center;
}

/* PAGE-SECTION: HEROSECTION */

.main-container {
    min-height: calc(100vh - 9vw);
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto auto;
}

main p {
    font-size: 0.5vw;
    font-weight: bold;
}

main h1 {
    font-size: 2.5vw;
}

.hero-img img {
    width: 35vw;
    position: relative;
}

.hero-img {
    position: relative;
    align-self: flex-start;
    transform: translateY(15%) !important;
}

.hero-img::before{
    content: '';
    position: absolute;
    top: -15%;
    left: 0;
    height: 150%;
    width: 150%;
    background-image: url('../../drawables/HeroBlob.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main .desc {
    margin: 0.1rem 0;
}

main .desc p {
    font-size: 2vw;
}

.redp {
    font-size: 2.5vw !important;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/* PAGE-SECTION: YTVIDEOS */
/* .ytvideos {
    min-height: 30vh;
    margin: 1em 0;
    text-align: center;
    padding: 0 5vw;
}

.ytvideos .section-header {
    margin: 3rem 0;
} */

/* PAGE-SECTION: WHY US */
.whyUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}

.whyUs .section-header {
    font-size: 2vw;
    margin: 1rem 0;
}

.whyUsContent p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.whyUsTilesContainer {
    display: flex;
}

/* PAGE-SECTION: OUR EXPERTISE */
.ourExpertise {
    padding: 5vw;
}