.section-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.section-subheader {
    font-size: 1.3vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-details {
    font-size: 1vw;
    text-align: center;
}

.marker{
    position: relative;
    margin-bottom: 30px !important;
}

.marker::after {
    content: url('../../drawables/marker.svg');
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PAGE-SECTION: HEROSECTION */

.main-container {
    min-height: calc(100vh - 9vw);
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto auto;
}

main p {
    font-size: 0.5vw;
    font-weight: bold;
}

main h1 {
    font-size: 2.5vw;
}

.hero-img img {
    width: 35vw;
    position: relative;
}

.hero-img {
    position: relative;
    align-self: flex-start;
    transform: translateY(15%) !important;
}

.hero-img::before{
    content: '';
    position: absolute;
    top: -15%;
    left: 0;
    height: 150%;
    width: 150%;
    background-image: url('../../drawables/HeroBlob.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main .desc {
    margin: 0.1rem 0;
}

main .desc p {
    font-size: 2vw;
}

.redp {
    font-size: 2.5vw !important;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/* PAGE-SECTION: YTVIDEOS */
/* .ytvideos {
    min-height: 30vh;
    margin: 1em 0;
    text-align: center;
    padding: 0 5vw;
}

.ytvideos .section-header {
    margin: 3rem 0;
} */

/* PAGE-SECTION: WHY US */
.whyUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}

.whyUs .section-header {
    font-size: 2vw;
    margin: 1rem 0;
}

.whyUsContent p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.whyUsTilesContainer {
    display: flex;
    justify-content: center;
}

/* PAGE-SECTION: OUR EXPERTISE */
.ourExpertise {
    padding: 5vw;
    background-color: #f4f6f8;
}

.ourExpertise .section-subheader {
    margin: 0.5rem 0;
}

.expertise-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* PAGE-SECTION: OUR TESTIMONIALS */
.TestimonialSection {
    min-height: 40vh;
    padding: 1em 0;
}

.TestimonialSection .section-header {
    margin-bottom: 1em;
}

.testimonialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* PAGE-SECTION: COUNT UP STATS */
.statsSection {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    color: white;
    background-color: var(--brand-black);
}

/* PAGE-SECTION: OUR CLIENTS */
.OurClients, .OtherBrands {
    margin-top: 3em;
}

.OtherBrands {
    margin-bottom: 1.5em;
}

.OurClients .section-header, .OtherBrands .section-header {
    margin-bottom: 1em;
}

.clientLogo, .otherbrandlogo {
    height: 150px;
    margin-right: 1em;
    z-index: 20;
}

/* PAGE-SECTION: CONTACT US */
.ContactForm {
    padding: 3em 0;
}

.ContactForm .section-header {
    margin-bottom: 1rem;
}

.ContactFormContent {
    width: 70vw;
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
}

.ContactInfo {
    flex: 4;
    background-color: var(--brand-black);
    border-radius: 20px;
    padding: 2rem;
    color: white !important;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

.contactInfoGrpContainer {
    margin: auto 0;
}

.contactinfoGrp {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contactinfoGrp i {
    margin-right: 1rem;
}

.ContactInfo a {
    color: inherit;
}

.socials {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.socials a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.socials a:hover {
    background-color: pink;
}

.ContactForm-Form {
    flex: 7;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    gap: 0 2em;
}

.inputGroup {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
}

.inputGroup label {
    display: block;
    opacity: 0.5;
}

.inputGroup input, .msgBox {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 0.5em;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 2px solid gray;
}

.inputGroup input:focus {
    border-bottom: 2px solid var(--brand-black);
}

.msgBox:focus {
    border-bottom: 2px solid var(--brand-black);
}

.inputGroup input:focus + .inputLbl {
    color: var(--brand-black) !important;
    opacity: 1;
}

.msgBoxInputGrp {
    grid-column: 1/3;
}

.msgBox {
    outline: none;
    margin: 0.5rem 0;
    font-family: 'Quicksand', sans-serif;
    resize: none;
    margin-top: 1rem;
    height: 100%;
}

.msgBox:focus + .inputLbl {
    color: var(--brand-black);
    opacity: 1;
}

.ContactForm-Form .sendBtn {
    color: red;
    height: fit-content;
    width: fit-content;
    padding: 1em;
    border-radius: 5px;
    border: none;
    background-color: var(--brand-black);
    color: white;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 2px 2px 10px var(--brand-black);
    grid-column: 2 / 3;
}

.ContactForm-Form .sendBtn:hover {
    transform: scale(1.1);
}

.Footer {
    background-color: var(--brand-black);
    color: white;
    text-align: center;
    padding: 2em 0;
}

.Footer .section-header {
    font-size: 1.5em;
    margin-bottom: 1em;
}