.AlliedServiceTile {
    display: flex;
    width: 40vw;
    min-width: fit-content;
    margin: 1rem 0;
    gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: hsla(0, 100%, 100%, 0.08);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 3px 4px 0px hsla(0,0%,0%,0.14), 
		0px 3px 3px -2px hsla(0,0%,0%,0.12), 
		0px 1px 8px 0px hsla(0,0%,0%,0.2);
    cursor: pointer;
}

.AlliedServiceIcon i {
    font-size: 4rem;
}

.AlliedServiceName {
    font-family: 'Montserrat';
}

@media screen and (max-width: 1300px) {
    .AlliedServiceTile {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .AlliedServiceTile {
        width: 90vw;
        align-self: center !important;
    }
}