.hbdBgImageFlag {
    position: relative;
    width: 100vw;
    object-fit: contain;
    max-height: 300px;
    top: -50px;
    z-index: -10;
    flex: 1;
}

.hbdBgImageCake {
    height: 250px !important;
}

.balloons {
    position: absolute;
    mix-blend-mode: multiply;
    left: 0;
    height: 100vh;
}

.rightballoons {
    left: unset;
    right: 0;
    transform: rotateY(180deg);
}

.hbd {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    align-items: center;
    background-color: white;
}

.hbd-conteriner {
    width: 100vw;
    overflow: hidden;
}

.hbd .intro-text {
    text-align: center;
}

.hbd p {
    font-size: 1rem;
    font-weight: bold;
}

.next-wish {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.next-wish button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
}

.wish-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content !important;
}

.wish-container img {
    mix-blend-mode: multiply;
    height: 40vh;
    object-fit: contain;
}

@media screen and (max-width: 750px) {
    .leftballoons {
        transform: translateX(-60%);
    }

    .rightballoons {
        transform: translateX(60%) rotateY(180deg);
    }

    .hbd .intro-text {
        font-size: 1.5vw;
    }
}

.hbd .accentText {
    color: red;
}

.hbd h2 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Quicksand';
}

.hbd .advertisement {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adlogo {
    height: 80px !important;
}