header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-horizontal);
    height: 9vw;
}

header .logo {
    height: 9vw;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    margin-right: 1em;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-list-item::after {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: var(--brand-red);
    top: 100%;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.nav-list-item:hover::after {
    transform: scaleX(1);
}

.MobileNavToggle {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    min-width: 60px;
    height: fit-content;
    width: fit-content;
}

.mobile-nav {
    position: absolute;
    height: fit-content;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: red;
    border-bottom-right-radius: 50%;
    padding: 1rem;
    justify-content: space-between;
}

.mobile-nav .MobileNavToggle {
    background: none;
    border: 1px solid white;
    color: white;
}

.mobile-nav-list {
    flex-direction: column;
}

.mobile-nav li {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    margin-bottom: 1rem;
}

.mobile-nav li a {
    color: white;
}