.Footer {
    background-color: var(--brand-black);
    color: white;
    text-align: center;
    padding: 2em 0;
}

.Footer .section-header {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.Footer .accentText {
    color: #ff3939;
}

.attribution {
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.attribution a {
    color: white;
    text-decoration: underline;
}

.FooterContent {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.FooterContent .companyDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FooterContent .address {
    text-align: right;
}

.FooterContent .address h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    opacity: 0.7;
}