.expertiseDetailedHero {
    padding-bottom: 2rem;
}

.expertiseDetailedHero .section-header {
    color: var(--brand-red);
}

.expertiseDetailedHero .accent-text {
    color: var(--brand-red);
    font-size: 1.3em;
}

.expertiseDetailedHero p {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.expertiseDetailedHero pre {
    max-width: 80%;
    width: fit-content;
    margin: 2rem auto;
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.ourFeatures .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 1rem;
    padding: 3rem 0;
}

/* .ourFeatures .features {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem auto;
} */

.ourFeatures .features p {
    background-color: #f4f6f8;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0 auto;
}

.OurPortfolio {
    background-color: #f4f6f8;
    padding: 3em;
}

.portfolio .embedContainer{
    width: 100%;
}

@media screen and (max-width: 468px) {
    .portfolio .embedContainer{
        padding: 0.5rem !important;
    }   
}

.pdfcontainer::after {
    content: "Open PDF";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    transform: scaleY(0);
    transform-origin: top;
    transition: all ease 0.3s;
}

.pdfcontainer:hover::after {
    transform: scaleY(1);
}

.pdfcontainer {
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.pdfcontainer img {
    width: 100% !important;
    height: auto !important;
}

/* .OurPortfolio p {
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
} */

.portfolio {
    margin: 2rem 0;
}

.portfolio-subheader {
    font-size: 1.4rem;
    margin: 1rem 0;
}