@media screen and (max-width: 1024px) {
    .section-header {
        font-size: 2rem !important;
    }
    .section-subheader {
        font-size: 1.5rem !important;
    }
    .section-details {
        font-size: 1rem !important;
    }
    header nav {
        padding: 0 1rem !important;
    }
    header nav, header .logo {
        height: 80px !important;
    }
    .expertiseTile .expertiseName{
        font-size: 1.2rem !important;
    }
    .whyUsTilesContainer {
        flex-wrap: wrap;
    }
    .whyUsTilesContainer .embedContainer {
        width: 40% !important;
    }
    .statsSectionStatsContainer {
        width: 90% !important;
    }
    .testimonialsContainer {
        flex-direction: column;
        align-items: center;
    }

    .testimonialsContainer .TestimonialCard {
        width: 90vw !important;
        max-width: 500px;
    }

    .pageLoadAnimation h1 {
        font-size: 5vw !important;
    }
}

@media screen and (max-width: 880px ) {
    .expertiseLandingHero {
        flex-direction: column-reverse !important;
    }

    .expertiseLandingHero .text {
        width: 80vw !important;
    }

    .expertiseLandingHero img {
        width: 80vw !important;
    }

    .expertiseLandingHero .text button {
        margin: 2rem auto;
    }    
}

@media screen and (max-width: 780px) {
    .CustomSelectContainer {
        flex-direction: column;
        text-align: center;
    }

    .whyUsTilesContainer {
        flex-direction: column;
        align-items: center;
    }

    .whyUsTilesContainer .embedContainer{
        width: 70% !important;
    }

    .statsSectionStatsContainer {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 2rem 0;
    }

    .ContactFormContent {
        width: 90vw !important;
    }

    .ContactFormContent .ContactInfo {
        flex: 6;
    }

    .ContactForm-Form {
        display: flex !important;
        flex-direction: column;
    }

    .ContactForm-Form .inputGroup {
        margin-bottom: 10px !important;
    }

    .FooterContent {
        flex-direction: column;
        gap: 2rem;
    }

    .FooterContent .companyDetails {
        align-items: center !important;
    }

    .FooterContent .address {
        text-align: center !important;
    }
}

@media screen and (max-width: 640px) {
    .ContactFormContent {
        width: 95vw !important;
    }

    .ContactFormContent .ContactInfo {
        flex: 4;
    }

    .pageLoadAnimation h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 2.5rem !important;
    }

    /* SECTION STYLES: HERO SECTION */

    .main-container {
        min-height: fit-content !important;
    }

    .HomeHeroMain {
        flex-direction: column-reverse;
        justify-content: center !important;
        min-height: calc(100vh - 80px);
        align-items: center;
        padding: 0 1rem;
    }
    .hero-animation {
        margin-bottom: 2rem;
    }
    .HomeHeroMain .hero-animation video{
        width: 70vw;
    }
    .hero-img::before{
        height: 100% !important;
        width: 100% !important;
    }
    .HomeHeroMain h1 {
        font-size: 1.8rem !important;
    }

    .HomeHeroMain p {
        font-size: 1.3rem !important;
    }
    .link-button {
        font-size: 1rem !important;
    }

    .ContactFormContent {
        display: flex;
        flex-direction: column;
    }

    .ContactFormContent .ContactInfo {
        margin: 1rem !important;
    }
}

@media screen and (max-width: 480px) {
    .pageLoadAnimation h1 {
        font-size: 2rem !important;
    }
    /* SECTION STYLES: WHY CHOOSE US */
    .whyUsTilesContainer {
        flex-direction: column;
        align-items: center;
    }

    .CustomSelectContainer {
        flex-direction: column;
        text-align: center;
    }

    .whyUsTilesContainer .embedContainer {
        width: 90% !important;
    }
    /* SECTION STYLES: OUR EXPERTISE */
    .expertise-container {
        flex-direction: column !important;
        align-items: center;
    }

    .expertise-container .expertiseTile {
        width: 90vw !important;
        height: 90vw !important;
    }
}