.whyUsTile {
    width: 300px;
    min-height: 300px;
    background-color: #f4f6f8;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 3rem 1rem;
}

.whyUsName {
    font-family: "Quicksand";
    text-align: center;
    margin-top: 1.5rem;
}

.whyUsDesc {
    text-align: center;
}

.whyUsTile i {
    text-align: center;
    font-size: 4rem;
}