.whyUsTile {
    width: 350px;
    height: 350px;
    background-color: #f4f6f8;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 5rem 1rem;
}

.whyUsName {
    font-family: "Quicksand";
    text-align: center;
    margin: 1.5rem 0;
}

.whyUsDesc {
    text-align: center;
}

.whyUsTile i {
    text-align: center;
    font-size: 4rem;
}